/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

code {
	width: 100%;
	font-size: 80%;
	border-radius: 0px;
	padding: 2px;
	color: #56A0BF;
}

body {	
	font-family: Nunito, sans-serif;
}

.homeSplashFade{
	background-color: #0C1021;
}

a.button {
 	background-color: #5ab3b3;
 	color: #0C1021;
 	font-size: 16px;
 	font-weight: 600;
}

a.button:hover {
	background-color: #5ab3b3;
	color: #FFFFFF;
 	font-size: 16px;
 	font-weight: 600;
}

.projectTitle {
	color: #FFFFFF;
}